<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="Diet/icon_diet.png">
		<title>Diet Entries</title>
		<!-- jquery min 3.3.1 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<!-- angularjs min 1.5.11 & animate -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.js"></script>

		<script src="Diet/angular-datatables.min.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/af-2.2.2/datatables.min.css"/>
 
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/af-2.2.2/datatables.min.js"></script>
		
		<!-- Latest bootstap.min CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Latest bootstap.min JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- Angular UI-->
    
		<script src= "Diet/ui-bootstrap-tpls-0.14.3.min.js" ></script>

		<!-- Angular Charts-->
		<!-- npm with cmd into page directory helps alot rather than using links -->
		<script src="Diet/node_modules/chart.js/dist/Chart.min.js"></script>
		<script src="Diet/node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
		<script src="https://rawgit.com/beaver71/Chart.PieceLabel.js/master/build/Chart.PieceLabel.min.js"></script>
				
	</head>


	<body ng-app="crudApp" ng-controller="crudController">

		
		<div align ="right" class="container" ng-init="fetchData()">
			<br />
			<h3 align="center">Daily Macronutrient</h3>
			<br />
			<div style="height:20px;width:330px;" class="progress">
					<uib-progressbar class="progress-striped active" max="maxCalories" value="dailyCalories"><span style="color:rgb(230, 230, 230); white-space:nowrap;">{{dailyCalories}}kcal</span></uib-progressbar>
				  </div>
			
			<div style="height:150px;width:330px;">	
				<canvas id="pie" class="chart chart-pie" chart-data="dataPie" chart-labels="labels" chart-options="pieChartDefaulOptions">
				</canvas> 
			</div>
				<br/>
				  
			<div align="left">	<button ng-click="clickedtoSummary()" class="btn btn-primary">View Summary </button> </div>
			<br />
			<div align="left">	<button ng-click="clickedtoFoods()" class="btn btn-primary">Edit Foods Database </button>
			</div>
			
			<br />
		
			<div class="alert alert-success alert-dismissible" ng-show="success" >
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{successMessage}}
			</div>
			
			<div align="right">
			<button type="button" name="add_button" ng-click="fetchDataFoods(); addData()" class="btn btn-success">Add</button>
			</div>
			<br />
			
			<div class="row">
				<div class="col-md-6">
					<p class="input-group">
					
					<input type="text" class="form-control" ng-click="open($event)" uib-datepicker-popup="{{format}}" ng-model="dt" ng-change="selectDate(dt)" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					  	<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					  	</span>
					</p>
				</div>
			</div>

			<div class="table-responsive" style="overflow-x: unset;">
				<table datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Date</th> 
							<th>Name</th>
							<th>Grams</th>
							<th>Protein</th>
							<th>Fats</th>
							<th>Carbs</th>
							<th>Calories</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="n in namesData">
							<td>{{n.datetime}}</td>
							<td>{{n.name}}</td>
							<td>{{n.grams}}</td>
							<td>{{n.protein}}</td>
							<td>{{n.fats}}</td>
							<td>{{n.carbohydrates}}</td>
							<td>{{n.calories}}</td>
							<td><button type="button" ng-click="fetchSingleData(n.currententryid)" class="btn btn-warning btn-xs">Edit</button></td>
							<td><button type="button" ng-click="deleteData(n.currententryid)" class="btn btn-danger btn-xs">Delete</button></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</body>
</html>

<div class="modal fade" tabindex="-1" role="dialog" id="crudmodal">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<form method="post" ng-submit="submitForm()">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">{{modalTitle}}</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="alert alert-danger alert-dismissible" ng-show="error" >
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{errorMessage}}
					</div>
					<div class="form-group">
							<label>Enter Name</label>
							<select name="name" ng-model="ename" class="form-control">
							<option ng-app="crudApp" ng-controller="crudController" ng-repeat="x in namesDataFoods" value ="{{x.name}}">{{x.name}} </option>
							</select><!--{{ename}} -->
						</div>
					<div class="form-group">
						<label>Enter Number of Grams</label>
						<input type="text" name="grams" ng-model="egrams" class="form-control" />
					</div>
	      		</div>
	      		<div class="modal-footer">
	      			<input type="hidden" name="ehidden_id" value="{{ehidden_id}}" />
	      			<input type="submit" name="submit" id="submit" class="btn btn-info" value="{{submit_button}}" />
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	</div>
	        </form>
    	</div>
  	</div>
</div>


<script>

var app = angular.module('crudApp', ['datatables','ui.bootstrap','chart.js']);


app.controller('crudController', function($scope, DTOptionsBuilder,$http){

	$scope.vm = {};
	$scope.vm.dtInstance = {}; 
	$scope.vm.dtOptions = DTOptionsBuilder.newOptions()
   .withOption('paging', false)
   .withOption('searching', true)
   .withOption('info', false)

    // sort ascending with first entry
	.withOption('order', [0, 'asc'])

   // sets the default to 'all'
   .withDisplayLength(-1)

	$scope.maxCalories = 3000;


	$scope.success = false;

	$scope.error = false;

	 $scope.clickedtoFoods = function(){
	   window.location = "Diet/foods.html";
	 }

 	$scope.clickedtoSummary = function(){
	   window.location = "Diet/summary.html";
	 }
	
	// Fetching Data for first page table
	$scope.fetchData = function(){
		console.log("Fetched!!!");
		console.log($scope.dt.getFullYear()+"-"+($scope.dt.getMonth()+1)+"-"+$scope.dt.getDate());
		$http({
			method:"POST",
			url:"Diet/fetch_data.php",
			data:{'fetchdate':($scope.dt.getFullYear()+"-"+($scope.dt.getMonth()+1)+"-"+$scope.dt.getDate()),'action':'fetch_data_dietentries'}
		}).success(function(data){
			$scope.namesData = data;
			$scope.fetchStats();
			
				});
		
	};

	// Fetching Data for drop down list 
		$scope.fetchDataFoods = function(){
			$http({
				method:"POST",
				url:"Diet/fetch_data.php",
				data:{'action':'fetch_data_foods'}
			}).success(function(data){
				$scope.namesDataFoods = data;
			});
			};

	$scope.openModal = function(){
		var modal_popup = angular.element('#crudmodal');
		modal_popup.modal('show');
	};

	$scope.closeModal = function(){
		var modal_popup = angular.element('#crudmodal');
		modal_popup.modal('hide');
	};

	$scope.addData = function(){
		$scope.ename = '';
		$scope.egrams = 0.00;
		//$scope.ehidden_id ='';
		$scope.modalTitle = 'Add Food';
		$scope.submit_button = 'Insert';
		console.log($scope.ename);
		console.log($scope.egrams);
		$scope.openModal();
	};

	$scope.submitForm = function(){
		console.log($scope.ename);
		console.log($scope.egrams);
		console.log($scope.ehidden_id);
		console.log($scope.submit_button);
		$http({
			method:"POST",
			url:"Diet/insert_entries.php",
			data:{'name':$scope.ename,'grams':$scope.egrams, 'dateIE':($scope.dt.getFullYear()+"-"+($scope.dt.getMonth()+1)+"-"+$scope.dt.getDate()), 'action':$scope.submit_button, 'currententryid':$scope.ehidden_id}
		}).success(function(data){
			console.log(data.message);
			console.log(data.error);
			if(data.error != '')
			{
				$scope.success = false;
				$scope.error = true;
				$scope.errorMessage =data.error;
			}
			else
			{
				$scope.success = true;
				$scope.error = false;
				$scope.successMessage = data.message;
				$scope.form_data = {};
				$scope.closeModal();
			//	$scope.dt = new Date(); Resets date
				$scope.fetchData();
			}
		});
	};

	$scope.fetchSingleData = function(currententryid){
		// Wait for the first async to finish and then continue to the other
		$http({
				method:"POST",
				url:"Diet/fetch_data.php",
				data:{'action':'fetch_data_foods'}
			}).success(function(data){
				$scope.namesDataFoods = data;
				$scope.ename = '';
		$scope.egrams = 0.00;
		//$scope.ehidden_id ='';
		$http({
			method:"POST",
			url:"Diet/insert_entries.php",
			data:{'currententryid':currententryid, 'action':'fetch_single_data'}
		}).success(function(data){
			$scope.ename = data.name;
			$scope.egrams = data.grams;
			console.log($scope.ename);
			console.log($scope.egrams);
			$scope.ehidden_id = currententryid;
			$scope.modalTitle = 'Edit Data';
			$scope.submit_button = 'Edit';
			$scope.openModal();
		});
			});

	};

	$scope.deleteData = function(currententryid){
		if(confirm("Are you sure you want to remove it?"))
		{
			$http({
				method:"POST",
				url:"Diet/insert_entries.php",
				data:{'currententryid':currententryid, 'action':'Delete'}
			}).success(function(data){
				$scope.success = true;
				$scope.error = false;
				$scope.successMessage = data.message;
				$scope.fetchData();
			});	
		}
	};

	
/*************************** For Selecting Date *********************************/

$scope.today = function() {
	$scope.dt = new Date();
	
  };
  $scope.today();

  $scope.clear = function () {
	$scope.dt = null;

  };

  // Disable weekend selection
  $scope.disabled = function(date, mode) {
  //  return ( mode === 'day' && ( date.getDay() === 0 || date.getDay() === 6 ) );
  };

  $scope.toggleMin = function() {
   // $scope.minDate = $scope.minDate ? null : new Date();
  };
  $scope.toggleMin();
  $scope.maxDate = new Date(2020, 5, 22);

  $scope.open = function($event) {
	$scope.status.opened = true;

  };

  $scope.setDate = function(year, month, day) {
	$scope.dt = new Date(year, month, day);

  };

  $scope.dateOptions = {
    formatYear: 'yy',
    startingDay: 1
  };

  $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
  $scope.format = $scope.formats[0];

  $scope.status = {
	opened: false
	
  };

  var tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() + 1);

  var afterTomorrow = new Date();
  afterTomorrow.setDate(tomorrow.getDate() + 2);
  $scope.events =
    [
      {
        date: tomorrow,
        status: 'full'
      },
      {
        date: afterTomorrow,
        status: 'partially'
      }
    ];

  $scope.getDayClass = function(date, mode) {

    if (mode === 'day') {
	  var dayToCheck = new Date(date).setHours(0,0,0,0);
	 

      for (var i=0;i<$scope.events.length;i++){
		var currentDay = new Date($scope.events[i].date).setHours(0,0,0,0);
	

        if (dayToCheck === currentDay) {
		  return $scope.events[i].status;
		
        }
      }
    }

	return '';
	
  };


// Simple solution to catch change & also use ng-change
  $scope.selectDate = function(dt) {
	$scope.fetchData();
	//$scope.dataPie = [40, 40, 20];

console.log(dt);
}
/*************************** End For Selecting Date *********************************/



/*************************** Pie Chart and Total Calories ************************/

	// Fetching Stats for pie chart and total calories for first page table
	$scope.fetchStats = function(){
		console.log("Fetched Stats!!!");
		console.log($scope.dt.getFullYear()+"-"+($scope.dt.getMonth()+1)+"-"+$scope.dt.getDate());
		$http({
			method:"POST",
			url:"Diet/get_grams.php",
			data:{'date':($scope.dt.getFullYear()+"-"+($scope.dt.getMonth()+1)+"-"+$scope.dt.getDate()),'action':'fetch_daily_stats'}
		}).success(function(data){
			$scope.dataPie = [data.tprotein/data.tcalories,data.tunsaturated/data.tcalories,data.tsaturated/data.tcalories,data.tcarbohydrates/data.tcalories];
			$scope.dailyCalories = data.tcalories;
			console.log(data);
				});
				}


$scope.labels = ["Protein", "Unsaturated Fats","Saturated Fats", "Carbohydrates"];
//$scope.dataPie = [45, 25,10, 20];
$scope.pieChartDefaulOptions = {       pieceLabel: {
        render: 'value'+'%',
        fontColor: '#000',
        position: 'inside',
        segment: true
      }, legend: { display: true, position:'right' }};

});

</script>