<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="icon_diet.png"/>
		<title>Foods</title>
		<!-- jquery min 3.3.1 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<!-- angularjs min 1.5.11 & animate -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.js"></script>
		
		<!-- datatables -->

		<script src="angular-datatables.min.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/af-2.2.2/datatables.min.css"/>
 
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/af-2.2.2/datatables.min.js"></script>
		
		<!-- Latest bootstap.min CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Latest bootstap.min JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	</head>
	<body ng-app="crudApp" ng-controller="crudController">
		
		<div class="container" ng-init="fetchData()">
			<br />
				<h3 align="center">Foods Database</h3>
			<br />
			<div align="left">	<button ng-click="clickedtoDaily()" class="btn btn-primary">Back to Daily Entry </button>
			</div>
			<br />
			<div class="alert alert-success alert-dismissible" ng-show="success" >
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{successMessage}}
			</div>
			<div align="right">
				<button type="button" name="add_button" ng-click="addData()" class="btn btn-success">Add</button>
			</div>
			
			<br />
			<div class="table-responsive" style="overflow-x: unset;">
				<table datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Protein</th>
							<th>Fats</th>
							<th>Saturated</th>
							<th>Unsaturated</th>
							<th>Carbohydrates</th>
							<th>Calories</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="name in namesData">
							<td>{{name.name}}</td>
							<td>{{name.protein}}</td>
							<td>{{name.fats}}</td>
							<td>{{name.saturated}}</td>
							<td>{{name.unsaturated}}</td>
							<td>{{name.carbohydrates}}</td>
							<td>{{name.calories}}</td>
							<td><button type="button" ng-click="fetchSingleData(name.foodid)" class="btn btn-warning btn-xs">Edit</button></td>
							<td><button type="button" ng-click="deleteData(name.foodid)" class="btn btn-danger btn-xs">Delete</button></td>
						</tr>
					</tbody>
				</table>
			</div>
<br />
		</div>
	</body>
</html>

<div class="modal fade" tabindex="-1" role="dialog" id="crudmodal">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<form method="post" ng-submit="submitForm()">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">{{modalTitle}}</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="alert alert-danger alert-dismissible" ng-show="error" >
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{errorMessage}}
					</div>
					<div class="form-group">
						<label>Enter Name</label>
						<input type="text" name="name" ng-model="name" class="form-control" />
					</div>
					<div class="form-group">
						<label>Enter Protein Grams</label>
						<input type="text" name="protein" ng-model="protein" class="form-control" />
					</div>
					<div class="form-group">
						<label>Enter Fat Grams</label>
						<input type="text" name="fats" ng-model="fats" class="form-control" />
					</div>
					<div class="form-group">
						<label>Enter Saturated Grams</label>
						<input type="text" name="saturated" ng-model="saturated" class="form-control" />
					</div>
					<div class="form-group">
						<label>Enter Unsaturated Grams</label>
						<input type="text" name="unsaturated" ng-model="unsaturated" class="form-control" />
					</div>
					<div class="form-group">
						<label>Enter Carbohydrate Grams</label>
						<input type="text" name="carbohydrates" ng-model="carbohydrates" class="form-control" />
					</div>
					<div class="form-group">
						<label>Enter Calories</label>
						<input type="text" name="calories" ng-model="calories" class="form-control" />
					</div>
	      		</div>
	      		<div class="modal-footer">
	      			<input type="hidden" name="hidden_id" value="{{hidden_id}}" />
	      			<input type="submit" name="submit" id="submit" class="btn btn-info" value="{{submit_button}}" />
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	</div>
	        </form>
    	</div>
  	</div>
</div>


<script>

var app = angular.module('crudApp', ['datatables']);


app.controller('crudController', function($scope, DTOptionsBuilder,$http){

	$scope.vm = {};
	$scope.vm.dtInstance = {}; 
	$scope.vm.dtOptions = DTOptionsBuilder.newOptions()
   .withOption('paging', true)
   .withOption('searching', true)
   .withOption('info', false)
   // sets the default
   .withDisplayLength(100)
   // sort ascending with first entry
   .withOption('order', [0, 'asc'])
   // change show entries values (-1 -> "All")
   .withOption('lengthMenu', [[50, 100, 150, 200,-1],[50, 100, 150, 200,'All']])
   // allows you to change entries
   .withOption('lengthChange',true);

	$scope.success = false;

	$scope.error = false;

		 $scope.clickedtoDaily = function(){
       window.location = "../index.html";
 }

	$scope.fetchData = function(){

		$http({
			method:"POST",
			url:"fetch_data.php",
			data:{'action':'fetch_data_foods'}
		}).success(function(data){
			$scope.namesData = data;
		});
		
	};

	$scope.openModal = function(){
		var modal_popup = angular.element('#crudmodal');
		modal_popup.modal('show');
	};

	$scope.closeModal = function(){
		var modal_popup = angular.element('#crudmodal');
		modal_popup.modal('hide');
	};

	$scope.addData = function(){
		$scope.modalTitle = 'Add Food';
		$scope.submit_button = 'Insert';
		$scope.openModal();
	};

	$scope.submitForm = function(){
		console.log($scope.hidden_id);
		$http({
			method:"POST",
			url:"insert_foods.php",
			data:{'name':$scope.name, 'protein':$scope.protein,'fats':$scope.fats,'saturated':$scope.saturated,'unsaturated':$scope.unsaturated,'carbohydrates':$scope.carbohydrates,'calories':$scope.calories, 'action':$scope.submit_button, 'foodid':$scope.hidden_id}
		}).success(function(data){
			console.log(data.message);
			if(data.error != '')
			{
				$scope.success = false;
				$scope.error = true;
				$scope.errorMessage =data.error;
			}
			else
			{
				$scope.success = true;
				$scope.error = false;
				$scope.successMessage = data.message;
				$scope.form_data = {};
				$scope.closeModal();
				$scope.fetchData();
			}
		});
	};

	$scope.fetchSingleData = function(foodid){
		$http({
			method:"POST",
			url:"insert_foods.php",
			data:{'foodid':foodid, 'action':'fetch_single_data'}
		}).success(function(data){
			$scope.name = data.name;
			$scope.protein = data.protein;
			$scope.fats = data.fats;
			$scope.saturated = data.saturated;
			$scope.unsaturated = data.unsaturated;
			$scope.carbohydrates = data.carbohydrates;
			$scope.calories = data.calories;
			$scope.hidden_id = foodid;
			$scope.modalTitle = 'Edit Food';
			$scope.submit_button = 'Edit';
			$scope.openModal();
		});
	};

	$scope.deleteData = function(foodid){
		if(confirm("Are you sure you want to remove it?"))
		{
			$http({
				method:"POST",
				url:"insert_foods.php",
				data:{'foodid':foodid, 'action':'Delete'}
			}).success(function(data){
				$scope.success = true;
				$scope.error = false;
				$scope.successMessage = data.message;
				$scope.fetchData();
			});	
		}
	};

});

</script>